{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="container">
    <h4 style='border-bottom: 1px solid black; margin-bottom: 20px;'>BADGES</h4>
    <div class="row">
        {% for badge in request.user.badges.all %}
        <div class="col-6 col-md-4">
            <div class="text-center">
                <img src="/media/{{ badge.icon }}" alt="" style="height: 100px; cursor:pointer;" data-toggle="tooltip" data-placement="top" data-html="true" title="<p>{{ badge.description }}</p><p>Reward: {{ badge.reward_points }} XP</p>">
                <p class="font-weight-bold" style="margin-top: 10px;" >{{ badge.title }}</p>                                    
            </div>
        </div>
        {% empty %}
        <h2>No badges</h2>
        {% endfor %}

    </div>
</div>

{% endblock %}

{% block script %}
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
{% endblock %}