{% extends 'base.html' %}
    
    {% load static %}

    {% block title %}
        CodeSimple | {{ request.user }}
    {% endblock %}

    {% block head %}
        <style>
            .notification-bell{
                position: relative;
            }

            .notification-counter{
                content: "";
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align:center;
                color: white;
                position: absolute;
                top: 10%;
                right: 10%;
                border-radius: 50%;
                background-color: red;
            }

            #loading{
                    background: url('{% static 'gif/loading.gif' %}') no-repeat center center;
                    display: none;
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 9999999;
            }
        </style>

    {% endblock %}

    {% block content %}
    
    {% comment %} Loading div {% endcomment %}
    <div id="loading"></div>

    {% comment %} Achievements {% endcomment %}
    {% if achievements %}
        {% for achievement in achievements %}
            <div  class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% comment %} <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div> {% endcomment %}
                        <div class="modal-body">
                            <h5 class="text-center font-weight-bold">You've unlocked</h5>
                            <h5 class="text-center font-weight-bold">{{ achievement.title }}</h5>
                            <div class="row mt-5">
                                <div class="col-4">
                                    <img src="{{ achievement.icon.url }}" style="height: 70px;">
                                </div>
                                <div class="col-8">
                                    <p>{{ achievement.description }}</p>
                                    <p>Reward points: +{{ achievement.reward_points }}<i class="fab fa-adn"></i></p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'badges' %}" class="btn btn-outline-primary">GO TO BADGES</a>
                            <button class="ml-auto btn btn-outline-success" data-dismiss="modal">CONTINUE</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% comment %} New level modal {% endcomment %}
    {% if new_level %}
            <div  class="modal" id="levelModal">
    {% else %}
            <div style="display: none;">
    {% endif %}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">CONGRATULATIONS</h5>
                            <button class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h5 class="text-center font-weight-bold">Congratulations - New Level</h5>
                            <div class="row mt-5">
                                <div class="col-6">
                                    <div style="padding: 10%;" id="canvas" style="position: relative;">
                                        <canvas id="circle" width="100" height="100"></canvas>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p>New Level: {{ request.user.level }} {{ request.user.get_level_display }}</p>
                                    <p class="text-muted">XP: {{ user.experience_pts }}</p>
                                    <p class="text-muted">{{ user.next_level_in }} more experience points to next level</p>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="" class="btn btn-outline-primary">GO TO BADGES</a>
                            <button class="ml-auto btn btn-outline-success" data-dismiss="modal">CONTINUE</button>
                        </div>
                    </div>
                </div>
            </div>
    

    <div class="container mt-5">
        <div class="row">
            <!-- left section -->
            <div class="col-xs-12 col-md-9">
                
                <!-- RANDOM EXERCISE -->
                {% if exercise_random %}
                <div class="row">
                    <div class="col">
                        
                        <div class="card exercise-card"  style="border: 1px solid black">
                            <div class="card-header">
                                RANDOM EXERCISE
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ exercise_random.title }}</h4>
                                <p class="card-text">{{ exercise_random.short_description }}</p>
                                <div class="row">
                                    <div class="col">
                                        {% for tag in exercise_random.tags.all %}
                                            <a href="/home?tag={{ tag.slug }}" class="bg-dark text-white p-1 mr-1 my-1 d-inline-block"><small>{{ tag.name }}</small></a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3 col-4">
                                    <i class="far fa-heart"></i> {{ exercise_random.likes }}
                                    </div>
                                    <div class="col-md-3 col-4">
                                    <i class="fas fa-heart-broken"></i> {{ exercise_random.dislikes }}
                                    </div>
                                    <div class="col-md-3 col-4">
                                    <i class="fas fa-code"></i> {{ exercise_random.get_level_display }}
                                    </div>
                                    <div class="col-md-3 d-none d-md-block">
                                    <i class="fab fa-adn"></i> {{ exercise_random.experience_points }}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <a href="{% url 'exercise' slug=exercise_random.slug %}">
                            <button style="border-radius:0px; height:50px;" class="btn btn-large btn-primary w-100">SOLVE NOW</button>
                        </a>
                    </div>
                </div>
                {% endif %}

                <p style="border-bottom: 1px solid black" class="mt-5">
                {% if filter_type %}
                    SEARCH RESULTS FOR "<span class="font-weight-bold">{{ filter_type }}</span>"
                {% else %}
                    EXERCISES
                {% endif %}
                </p>
                
                {% for exercise in exercises %}
                    <div class="row mt-4">
                        <div class="col">
                            
                            <div class="card exercise-card"  style="border: 1px solid black">
                                <div class="card-body">
                                    <h4 class="card-title">{{ exercise.title }}</h4>
                                    <p class="card-text">{{ exercise.short_description }}</p>
                                    <div class="row">
                                        <div class="col">
                                            {% for tag in exercise.tags.all %}
                                                <a href="/home?tag={{ tag.slug }}" class="bg-dark text-white p-1 mr-1 my-1 d-inline-block"><small>{{ tag.name }}</small></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3 col-4">
                                        <i class="far fa-heart"></i> {{ exercise.likes }}
                                        </div>
                                        <div class="col-md-3 col-4">
                                        <i class="fas fa-heart-broken"></i> {{ exercise.dislikes }}
                                        </div>
                                        <div class="col-md-3 col-4">
                                        <i class="fas fa-code"></i> {{ exercise.get_level_display }}
                                        </div>
                                        <div class="col-md-3 d-none d-md-block">
                                        <i class="fab fa-adn"></i> {{ exercise.experience_points }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <a href="{% url 'exercise' slug=exercise.slug %}">
                                <button style="border-radius:0px; height:50px;" class="btn btn-large btn-primary w-100">SOLVE NOW</button>
                            </a>

                        </div>
                    </div>
                {% endfor %}

                {% if exercises.paginator.num_pages != 1 %}
                <!-- PAGINATION CENTERED -->
                <nav class="mt-5">
                    <ul class="pagination justify-content-center">
                        {% if exercises.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ exercises.previous_page_number }}">Previous</a>
                            {% else %}
                        <li class="page-item disabled">
                            <p class="page-link disabled">Previous</p>
                            {% endif %}
                        </li>
                        {% for number in exercises.paginator.page_range %}
                            {% if number == exercises.number %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ number }}">{{ number }}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ number }}">{{ number }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}

                        {% if exercises.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ exercises.next_page_number }}">Next</a>
                        {% else %}
                        <li class="page-item disabled">
                            <p class="page-link">Next</p>
                        {% endif %}
                        </li>
                    </ul>
                </nav>
                {% endif %}


                <!--  -->
            </div>

            <hr>
            <!-- right section -->
            <div class="col-xs-12 col-md-3">
                <!-- SEARCH -->
                <p style="border-bottom: 1px solid black">SEARCH</p>
                <form method="POST" class="mb-5">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" name="phrase" placeholder="Keyword (title, category etc.)">
                    </div>
                    <button class="btn btn-outline-secondary w-100" type="submit" name="search">Search</button>
                </form>

                <p style="border-bottom: 1px solid black" class="mt-5">FILTER EXERCISES</p>
                <form method="POST" class="mb-5" style="border: 1px solid black;">
                    {% csrf_token %}
                    <div class="form-group p-1">
                        <label>Category</label>
                        <select class="form-control" name="tag">
                            <option value="all">All</option>
                            {% for tag in tags %}
                                <option value="{{ tag.pk }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group p-1">
                        <label>Language</label>
                        <select class="form-control" name="language">
                            <option value="all">All</option>
                            <option value="Python">Python</option>
                            <option value="Javascript">Javascript</option>
                        </select>
                    </div>
                    <div class="form-group p-1">
                        <label>Dificulty</label>
                        <select class="form-control" name="level">
                                <option value="all">All</option>                                
                            {% for level in levels %}
                                <option value="{{ level.0 }}">{{ level.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button style="border-radius:0px; height:50px;" class="btn btn-large btn-primary w-100" type="submit" name="filter">FILTER</button>
                </form>


                <p style="border-bottom: 1px solid black" class="mt-5">FILTER EXERCISES</p>

                    {% for tag in tags %}
                        <div class="d-inline-block py-1"><a href="/home?tag={{ tag.slug }}" class="bg-dark text-white p-1 mr-1 my-1">{{ tag.name }}</a></div> 
                    {% endfor %}
            </div>
        
        </div>
    

    </div>
  
    {% endblock %}


    {% block script %}
        <script>
            $(".modal").modal("show");

            function hideLoader() {
                $('#loading').hide();
            }

            function redirectToExercise(location){
                setTimeout(function(){
                window.location.replace(location)                    
                }, 1000)
                
            }


            var exercise_cards = $(".exercise-card");
            var exercise_cards_links = exercise_cards.next();
            var loading = $("#loading");
            
            exercise_cards_links.on("click", function(event){
                event.preventDefault();
                
                $("#loading").show();
                setTimeout(hideLoader, 20 * 1000);

                var location = $(this).attr("href");

                var callback = function(){
                    redirectToExercise(location);
                }

                $.ajax({
                    url: location,
                    type: "GET"
                }).done(
                    callback
                );
            })



    var experience_points = "{{ user.experience_pts }}"
    var to_next_level = "{{ user.next_level_in }}"
    var level_experience = "{{ user.current_level_experience_pts }}"



{% comment %} Chart.defaults.scale.ticks.beginAtZero = true; {% endcomment %}

	Chart.pluginService.register({
		beforeDraw: function (chart) {
			if (chart.config.options.elements.center) {
        //Get ctx from string
        var ctx = chart.chart.ctx;
        
				//Get options from the center object in options
        var centerConfig = chart.config.options.elements.center;
      	var fontStyle = centerConfig.fontStyle || 'Arial';
				var txt = centerConfig.text;
        var color = centerConfig.color || '#000';
        var sidePadding = centerConfig.sidePadding || 20;
        var sidePaddingCalculated = (sidePadding/100) * (chart.innerRadius * 2)
        //Start with a base font of 30px
        ctx.font = "30px " + fontStyle;
        
				//Get the width of the string and also the width of the element minus 10 to give it 5px side padding
        var stringWidth = ctx.measureText(txt).width;
        var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;

        // Find out how much the font can grow in width.
        var widthRatio = elementWidth / stringWidth;
        var newFontSize = Math.floor(30 * widthRatio);
        var elementHeight = (chart.innerRadius * 2);

        // Pick a new font size so it will not be larger than the height of label.
        var fontSizeToUse = Math.min(newFontSize, elementHeight);

				//Set font settings to draw it correctly.
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
        var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
        ctx.font = fontSizeToUse+"px " + fontStyle;
        ctx.fillStyle = color;
        
        //Draw text in center
        ctx.fillText(txt, centerX, centerY);
			}
		}
	});

var ctx = document.getElementById("circle").getContext('2d');
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Experience points: ", "To nex level"],
        datasets: [
            {
                label: 'Points',
                backgroundColor: ['yellow', 'gray'],
                data: [level_experience - to_next_level, to_next_level]
            }
        ]
    },
    options: {
        animation: {
            animateScale: true
        },
        legend: {
            display: false
        },
        elements: {
            center: {
                text: "Next level: {{ user.level|add:1 }}",
                color: "black",
                fontStyle: "Arial",
                sidePadding: 20
            }
        }
    }

});
    

        </script>
    {% endblock %}


